<!doctype html>
<html>
  <head>
    <title>My login page of <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>My login page of <%=shopName%></h1>
    <form method="POST" action="/loggedin">
        <p>Username: <input id="user" type="text" name="user" value="username" /></p>
        <p>Password: <input id="pass" type="text" name="pass" value="email" /></p>
        <input type="submit" value="login" />
      </form>
      <!--Home page Link-->
      <p><a href="./">Home</a></p>
  </body>
</html>


