<!doctype html>
<html>
  <head>
    <title>TV Shows <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>TV Shows <%=shopName%></h1>
    <form action="/TVshows-result" method="GET">
        <!--Search Box for all available TV shows-->
      <p>Available TV Shows</p>
      <input id="search-box" type="text" name="keyword" value="Default">
      <input type="submit" value="Search" >
    </form>
    <!--Home page Link-->
    <p><a href="./">Home</a></p>
  </body>
</html>