<!doctype html>
<html>
  <head>
    <title>Weather <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Weather <%=shopName%></h1>
    <form action="/weather-result" method="GET">
        <!--Search box for Weather Page-->
      <p>Weather Today</p>
      <input id="search-box" type="text" name="keyword" value="Default">
      <input type="submit" value="Search" >
    </form>
    <!--Home page Link-->
    <p><a href="./">Home</a></p>
  </body>
</html>